{
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "eslintIntegration": true,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 180,
  "proseWrap": "preserve"
}
