{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "trailingComma": "all",
  "bracketSpacing": true,
  "eslintIntegration": true,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 180,
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto"
}
